[submodule "cinch"]
	path = cinch
	url = ../../laristra/projects/cinch.git
[submodule "flecsi"]
	path = flecsi
	url = ../../laristra/projects/flecsi.git
[submodule "ristra"]
	path = ristra
	url = ../../laristra/projects/libristra.git
[submodule "specializations"]
	path = specializations
	url = ../../laristra/projects/flecsi-sp.git
